{% load staticfiles %}
<head>
    <title>Página de Busca</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <style>
    .navbar {
      overflow: hidden;
      background-color: #aaa;
      margin-left: 10px;
      margin-right: 10px;
    }
    .navbar a {
      float: left;
      color: #012;
      text-align: left;
      padding: 10px 30px;
      text-decoration: none;
      font-size: 16px;
    }
    .navbar a:hover {
      background-color: #ccc;
      color: black;
    }
    </style>
</head>
<body>
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/classificador/index">Index</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/classificador/busca">Buscar</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/classificador/lista">Histórico</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id='queryform' class="col-12">
		<form action="{% url 'search_submit' %}" method="post">
		{% csrf_token %}
			<fieldset class="form-group">
				<div class="row">
					<legend class="col-form-label col-sm-1 pt-0">Motivos:</legend>
					<div class="col-sm-10">
						{% for m in reasons %}
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id={{m}} name='searchlist' value={{m}}>
								<label class="form-check-label" for={{m}}>{{m}}</label>
							</div>
						{% endfor %}
					</div>
				</div>
			</fieldset>
			<div class="form-group row">
				<div class="col-sm-1">Buscar sites que:</div>
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="searchType" id="Radio1" value="AND" checked>
						<label class="form-check-label" for="Radio1">
						Contém todos os motivos marcados
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="searchType" id="Radio2" value="OR">
						<label class="form-check-label" for="Radio2">
						Contém algum dos motivos marcados
						</label>
					</div>
	    		</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<br>
					<input type="submit" class="btn btn-primary" value="Buscar">
				</div>
			</div>
		</form>
	</div>
</body>