{% load staticfiles %}
<head>
    <title>Página de Index</title>

    <style>
    .navbar {
      overflow: hidden;
      background-color: #999;
      margin-left: 10px;
      margin-right: 10px;
    }
    .navbar a {
      float: left;
      color: #012;
      text-align: center;
      padding: 16px 22px;
      text-decoration: none;
      font-size: 16px;
    }
    .navbar a:hover {
      background-color: #bbb;
      color: black;
    }
    </style>

</head>
<body>
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <div class="navbar">
      <a href="/classificador/index">Index</a>
      <a href="/classificador/busca">Busca</a>
      <a href="/classificador/lista">Histórico</a>
    </div>

	<div id='queryform' class="col-8">
        <div id='queryformhead'>
            <h2>Pesquisa por URLs</h2>
        </div>
        
        <form action="{% url 'urls_submit' %}" method="post">
        {% csrf_token %}
            <fieldset>
                <div class="form-group row">
                    <label class="col-sm-3">Digite as URLs separadas por espaço:</label>

                    <div class="col-sm-9">
                        <textarea class="col-sm-11 form-control" rows="8" cols="72" type="text" name="sites" /></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-9"></div>
                    <input class="col-sm-2 form-control btn btn-primary" type="submit" value="Enviar" />
                </div>
            </fieldset>
        </form>
    </div>

{% for d in vec %}
    {{ d }}
{% endfor %}
</body>